html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: url(/img/ftuy4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#wrapp {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

/*  Header et Navigation */
header {
  grid-area: header;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10 25px;
}

header nav {
  margin-left: auto;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  padding: 1rem;
}
header nav ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: #333;
  font-size: 1.1em;
  transition: transform 0.3s ease, color 0.3s ease;
}
header nav ul li a:hover,
header nav ul li a:focus {
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.5);
  color: #000;
}
h1 a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 2.1em;
  font-weight: bold;
  margin-right: auto;
  margin-left: 25px;
}

/* Main */
main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
div#bienvenue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
div p {
  font-size: 1.2em;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px; /* Ajusté pour plus de largeur */
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ccc;
}
label {
  margin-top: 10px;
  margin-bottom: 8px;
  text-align: left;
}
.submit {
  font-weight: bold;
  margin-top: 15px;
  border: none;
  background-color: #007bff;
  padding: 8px;
  color: #fff;
  border-radius: 10px;
}
.submit:hover,
.submit:focus {
  cursor: pointer;
  color: #007bff;
  background-color: #ccc;
}
textarea {
  resize: none;
  height: 30px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.error-messages {
  width: 100%;
  margin-bottom: 20px;
}

.error-messages p {
  color: red;
  text-align: center;
  margin: 5px 0;
}

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: auto;
  background-color: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

li#li-deconnexion a {
  color: white;
  padding: 7px;
  background-color: #007bff;
  border-radius: 15px;
}

/* Adaptation smartphone */
@media screen and (max-width: 480px) {
  body {
    background-color: #f9f2e5;
    background-image: none;
  }
  div#wrapp {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  header {
    height: 120px;
    margin-bottom: 50px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  nav {
    width: 100%;
  }

  header nav ul li {
    padding-right: 0.9rem;
  }

  h1 {
    margin: auto;
    font-size: 1.8em;
  }

  main {
    padding: 10px;
    flex-direction: column;
  }
  form {
    max-width: 80%;
  }
  footer {
    height: 180px;
  }
}
